*objective model.Minimize(makespan)
*every node should be visited once
	model.Add(sum(x_var[k, :, i] == 1))
	model.Add(sum(x_var[k, j, :] == 1)).OnlyEnforceIf(x_var[k, i, j]) # if j is visited, j also should be left once
*start service at node i
	model.Add(start_service[j] >= start_service[i] +distance_var[0, i, j] +service_time[i]).OnlyEnforceIf(x_var[0, i, j])

